.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el margen no afecten el tamaño del elemento */
}

/* Asegura que el cuerpo del documento ocupe todo el espacio de la pantalla */
body {
  height: 100%;
  width: 100%;
}

/* Eliminar la posible apariencia de bordes o márgenes por defecto */
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Estilo de cada sección */
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

/* Colores de fondo para cada sección */
#section1 {
  background-color: #3498db;
}

#section2 {
  background-color: #e74c3c;
  width: 100vw;
}

/* Contenedor para scroll horizontal */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 200vw;
  height: 100vh;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.section-horizontal {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ecc71;
  color: white;
  font-size: 2rem;
}

#section4 {
  background-color: #f1c40f;
  margin-left: 100vw;
}

#section5 {
  background-color: #9b59b6;
  margin-left: 100vw;
}

#section3 {
  background-color: #13a505;
  width: 100vw;
}
